@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h2,h3{
    font-family: "Roboto Slab", serif;
}
p{
    font-family: "Roboto Condensed", sans-serif;
}
.black-logo{
    width: 6% ;
    height: 8%;
    margin-top:2% ;
    margin-left: 5%;
    margin-bottom: 5%;
}
.p1{grid-area: text1;
    font-size: 20px;
}
.p2{  grid-area: text2;
    font-size: 20px;
}
.p3{ grid-area: text3;
    font-size:20px;
}
.globe-text{grid-area: a;
    display: grid;
    grid-template-columns: 1fr 6fr; 
    grid-template-areas: 
    " globe text1"
    ; 
    column-gap: 5%;
}
.time-text{grid-area: b;
    display: grid;
   grid-template-columns: 1fr 6fr;
   grid-template-areas: 
   " time text2"
   ;
   column-gap: 5%;
}
.calendar-text{grid-area: c;
    display: grid;
     grid-template-columns: 1fr 6fr;
     column-gap: 5%;
     grid-template-areas: 
     " calendar text3"
     ; 
  }
.container-header{
    display:grid;
    grid-template-columns:16% 16% 16%;
   grid-template-areas: 
   "a b c";
    margin-left:5%;
}
.how{
    font-size: 80px;
    margin-left: 5%;
   }
.grades{
    margin-left: 5%;
    font-size: 20px;
}
.pic1-header{
    grid-area: picture;
}
.text-header{
    grid-area: textcon;
}
.container2-header{
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 
    "textcon picture";
 margin-top: 2%;
margin-bottom: 3%px ;
}
.blue-text{
    box-sizing: border-box;
    color: white;
    background-color: #1e4681;
    width: 40%;
    height: 30% ;
    padding: 2%;
    font-size: 25px;
    display: flex;
    margin-left: 25%;
    margin-top: 6%;
    flex-direction: column;
    border-radius: 2%;
 }
.andrey{
    align-self: flex-end;
 }
 .course{
    font-size: 55px;
    margin-left: 5%;
    margin-top: 9%;
    margin-bottom: 4%;
     }
.text2-header{
    font-size:24px ;
}
.pic1-header{
    grid-area: picture;
  }
  .part1-header{
    display: grid;
    grid-template-areas: 
    " text2 img2"
    ;
      margin-left: 5%;
   }
.course{
    font-size: 55px;
}
.pic3-main1{
    margin-left: 5%;
}
h3{
    font-size: 25px;
}
.online-lessons{
    font-size: 18px;
}
.container3-main1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center; 
    margin-top: 5%;
    margin-left: 5%;
}
@media screen and (min-width: 991px) and (max-width: 1087px) {
    .p1,.p2,.p3{
        font-size: 14px;   
       }
       .how{
           font-size: 60px;}
       .grades{
               font-size: 14px;
           }
       .blue-text{
           font-size: 18px;
       }
       .course{
           font-size: 35px;}
        h3{
               font-size: 20px;
           }
       .online-lessons{
               font-size: 14px;
           }
        .pic30-main1{
            width: 200px;
            height: 180px;
        }   
        .pic3-main1{
            width: 200px;
            height: 180px;
        }
}
@media screen and (min-width: 1088px) and (max-width: 1183px) {
    .p1,.p2,.p3{
        font-size: 16px;   
       }
       .how{
           font-size: 65px;}
       .grades{
               font-size: 16px;
           }
       .blue-text{
           font-size: 20px;
       }
       .course{
           font-size: 40px;}
        h3{
               font-size: 22px;
           }
       .online-lessons{
               font-size: 16px;
           }
}
@media screen and (min-width: 1184x) and (max-width: 1289px) {
    .p1,.p2,.p3{
     font-size: 18px;   
    }
    .how{
        font-size: 70px;}
    .grades{
            font-size: 18px;
        }
    .blue-text{
        font-size: 22px;
    }
    .course{
        font-size: 45px;}
     h3{
            font-size: 22px;
        }
    .online-lessons{
            font-size: 15px;
        }
}
@media screen and (min-width: 320px) and (max-width: 620px){
    .p1,.p2,.p3{
        font-size: 8px;
      }
       .globe{
          width: 90%;
          height: 90%;
       }
       .time{
          width: 90%;
          height: 90%;
       }
       .calendar{
          width: 90%;
          height: 90%;
       }
      .how{
          font-size: 20px;
      }
      .grades{
              font-size: 10px;
          }
      .blue-text{
          font-size:7px ;
         margin-left: 15%;
      }
      .course{
          font-size: 20px;}
      .text2-header{
              font-size: 10px;
          }
      h3{
              font-size: 16px;
          }
      .online-lessons{
              font-size: 14px;
          }
      .container2-header{
              display: flex;
              flex-direction: column;
          }
          .pic1-header{
              margin-left: 40%;
          }
          .part1-header{
              display: flex;
              flex-direction: column;
                  }
          .pic1-header{
             width: 60%;
             height: 70%;
                }
         .pic10-header{
            width: 60%;
            height: 70%;
                }
         .pic2-header{
             width: 60%;
            height: 70%;
            margin-left: 40%;
            margin-top: 10%;
                }
          .pic20-header{
            width: 60%;
            height: 70%;        
          }
          .pic3-main1{
              display: none;
          }
          .container3-main1{
              display: grid;
              grid-template-areas:  
              "l h"
              "w w";
              align-items: center; 
              row-gap: 14%;
          }
          .lessons{
              grid-area:l ;
          }
          .hours{
              grid-area:h ;
          }
          .weeks{
              grid-area: w;
          }
}
@media screen and (min-width: 620px) and (max-width: 800px){
    .p1,.p2,.p3{
        font-size: 10px;
      }
       .globe{
          width: 90%;
          height: 90%;
       }
       .time{
          width: 90%;
          height: 90%;
       }
       .calendar{
          width: 90%;
          height: 90%;
       }
      .how{
          font-size: 30px;
      }
      .grades{
              font-size: 15px;
          }
      .blue-text{
          font-size:10px ;
         margin-left: 15%;
      }
      .course{
          font-size: 26px;}
      .text2-header{
              font-size: 15px;
          }
      h3{
              font-size: 18px;
          }
      .online-lessons{
              font-size: 16px;
          }
      .container2-header{
              display: flex;
              flex-direction: column;
          }
          .pic1-header{
              margin-left: 40%;
          }
          .part1-header{
              display: flex;
              flex-direction: column;
                  }
          .pic1-header{
             width: 60%;
             height: 70%;
                }
         .pic10-header{
            width: 60%;
            height: 70%;
                }
         .pic2-header{
             width: 60%;
            height: 70%;
            margin-left: 40%;
                }
          .pic20-header{
            width: 60%;
            height: 70%;        
          }
          .pic3-main1{
              display: none;
          }
          .container3-main1{
              display: grid;
              grid-template-areas:  
              "l h"
              "w w";
              align-items: center; 
              row-gap: 14%;
          }
          .lessons{
              grid-area:l ;
          }
          .hours{
              grid-area:h ;
          }
          .weeks{
              grid-area: w;
          }

}
@media screen and (min-width: 800px) and (max-width: 991px){
    .p1,.p2,.p3{
      font-size: 14px;
    }
     .globe{
        width: 90%;
        height: 90%;
     }
     .time{
        width: 90%;
        height: 90%;
     }
     .calendar{
        width: 90%;
        height: 90%;
     }
    .how{
        font-size: 40px;
    }
    .grades{
            font-size: 20px;
        }
    .blue-text{
        font-size:16px ;
       margin-left: 15%;
    }
    .course{
        font-size: 36px;}
    .text2-header{
            font-size: 25px;
        }
    h3{
            font-size: 18px;
        }
    .online-lessons{
            font-size: 16px;
        }
    .container2-header{
            display: flex;
            flex-direction: column;
        }
        .pic1-header{
            margin-left: 30%;
        }
        .part1-header{
            display: flex;
            flex-direction: column;
                }
        .pic2-header{
           margin-left: 30% ;
        }
        .pic3-main1{
            display: none;
        }
        .container3-main1{
            display: grid;
            grid-template-areas:  
            "l h"
            "w w";
            align-items: center; 
            row-gap: 14%;
        }
        .lessons{
            grid-area:l ;
        }
        .hours{
            grid-area:h ;
        }
        .weeks{
            grid-area: w;
        }
}